.page-width {
  max-width: 100%;
}

@media (min-width: 1300px) {
  .page-width {
    max-width: 75%;
  }
}

.showcase-card {
  max-width: 90%;
  min-height: 17rem;
}

@media (min-width: 800px) {
  .showcase-card {
    max-width: 50%;
  }
}

@media (min-width: 1300px) {
  .showcase-card {
    max-width: 30%;
  }
}