.page-width {
  max-width: 100%;
}

@media (min-width: 1300px) {
  .page-width {
    max-width: 75%;
  }
}

.showcase-card {
  width: 90%;
  min-height: 17rem;
}

@media (min-width: 900px) {
  .showcase-card {
    width: 40%;
  }
}

@media (min-width: 1300px) {
  .showcase-card {
    width: 30%;
  }
}

.md-image-width {
  max-width: 95%;
}

@media (min-width: 1100px) {
  .md-image-width {
    max-width: 70%;
  }
}