.page-width {
  max-width: 100%;
}

@media (min-width: 1300px) {
  .page-width {
    max-width: 75%;
  }
}

.card-width {
  max-width: 90%;
}

@media (min-width: 800px) {
  .card-width {
    max-width: 50%;
  }
}

@media (min-width: 1300px) {
  .card-width {
    max-width: 30%;
  }
}