.page-width {
  max-width: 100%;
}

@media (min-width: 1300px) {
  .page-width {
    max-width: 75%;
  }
}

.showcase-card {
  width: 90%;
  min-height: 17rem;
}

@media (min-width: 900px) {
  .showcase-card {
    width: 40%;
  }
}

@media (min-width: 1300px) {
  .showcase-card {
    width: 30%;
  }
}

.md-image-width {
  max-width: 95%;
}

@media (min-width: 1100px) {
  .md-image-width {
    max-width: 70%;
  }
}

.carousel-container {
  width: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (min-width: 900px) {
  .carousel-container {
    width: 60%;
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}