@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-eerie-black: #23231A;
    --color-black-olive: #322f20;
    --color-eggshell: #e0e0ce;
    --color-eggshell-800: #e0e0cee0;
    --color-eggshell-500: #e0e0ce80;
}

@layer utilities {
    .prose {
        --tw-prose-headings: var(--color-eggshell);
        --tw-prose-links: var(--color-eggshell-800);
        --tw-prose-quotes: var(--color-eggshell-800);
        --tw-prose-code: var(--color-eggshell);
        --tw-prose-bold: var(--color-eggshell);
    }

    .prose a:hover {
        color: var(--color-eggshell-500);
    }

    .prose code::before {
        content: "";
    }

    .prose code::after {
        content: "";
    }
}