@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-eerie-black: #23231A;
    --color-black-olive: #322f20;
    --color-eggshell: #e0e0ce;
}

@layer utilities {
    .prose {
        --tw-prose-headings: var(--color-eggshell);
        --tw-prose-links: color-mix(in srgb, var(--color-eggshell) 80%, transparent);
        a:hover {
            opacity: 0.5;
        }
    }
}